/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */

@font-face {
  font-family: "PressStart2P";
  src:
    local("PressStart2P"),
    local("Press Start 2P"),
    url(./PressStart2P-Regular.woff) format("woff");
  font-weight: 400;
  font-display: swap;
}

/* Вариативный шрифт */
@font-face {
  font-family: "Inter";
  src:
    local("Inter"),
    local("Inter-Variable"),
    url(./Inter-Variable.woff2) format("woff2") tech("variations"),
    url(./Inter-Variable.woff2) format("woff2-variations");
  font-weight: 400 700;
  font-stretch: 75% 125%;
  font-display: swap;
}
