/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "Inter", sans-serif;
  --special-font: "PressStart2P", monospace;
  --title-font-wigth: 700;
  --text-font-wigth: 400;

  --main-background-image: url(../images/main-back.png);

  --main-back-color: #fff;
  --main-text-color: #000;
  --main-acсent-color: #000;
  --stroke-text-color: #fff;

  --contour-color: #000;
  --animation-fill-color: red;

  --posts-title-font-size: 18px;
  --posts-text-font-size: 18px;

  --bg-image:
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(0deg, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(180deg, #e7e7e7 0%, #1a1a1a 100%);
}
